.contact {

    &__header {
        height: 500px;
        text-align: center;
        font-size: 50px;
        background-image: linear-gradient(27deg, rgba(0, 5, 1, 0.8029586834733894) 0%, rgba(253, 203, 110, 0.8785889355742297) 79%), url(../../Publics/img/contactBack.jpg);
        background-size: cover;
        background-position: center;
    }

    &__title {
        @include title;
    }

    &__separ {
        @include mb-70;

        &--underline {
            @include separ;
        }
    }

    &__container {
        @include d-flex;
        @include align-items-center;
        @include justify-content-center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__socials {
        @include d-flex;
        @include align-items-center;
        @include justify-content-center;
        @include flex-column;
        @include mb-70;
        margin-top: 5rem;

        & p {
            font-size: 20px;
            color: $colorWhite;
            font-family: $fontText;
            font-weight: 400;
            text-align: center;
        }
    }

    &__form {
        width: 80%;
        height: 80%;
        margin: 3rem;
        padding: 5rem;
        border-radius: 25px;
        background-color: transparent;
        box-shadow: 5px 5px 9px $dark-shadow, -5px -5px 9px $light-shadow;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        margin-left: 5rem;
        @include d-flex;
        @include align-items-center;
        @include justify-content-center;
        @include flex-column;

        @media screen and (max-width: 768px) {

            margin: 5rem;

        }

    }


    &__inputs {
        @include d-flex;
        @include flex-column;

        & input {
            @include mb-20;
            width: 260px;
            height: 50px;
            border: none;
            outline: none;
            border-radius: 20px;
            box-shadow: inset -3px -3px 7px $light-shadow,
                inset 3px 3px 7px $dark-shadow;
            background-color: transparent;
            padding: 20px;
            margin: 15px;
            color: white;
        }
    }

    &__textarea {
        @include mb-20;


        & textarea {
            resize: none;
            width: 260px;
            height: 150px;
            border: none;
            outline: none;
            border-radius: 20px;
            box-shadow: inset -3px -3px 7px $light-shadow,
                inset 3px 3px 7px $dark-shadow;
            background-color: transparent;
            padding: 20px;
            margin: 15px;
            color: white;
        }
    }

    &__submit {
        border-radius: 25px;
        width: 260px;
        height: 50px;
        box-shadow: -3px -3px 7px $light-shadow, 3px 3px 7px $dark-shadow;
        background-color: $colorTextVar;
        transition: all 0.4s ease-in-out;
        margin-top: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateZ(30px);

        &:hover {
            cursor: pointer;
            background-color: orange;
        }

        &:active,
        &:focus {
            transform: scale(0.9);
        }

        & button {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 25px;
            text-transform: uppercase;
            background-color: transparent;
            font-weight: 900;
            color: $light-shadow;
            position: relative;
            cursor: pointer;
        }
    }
}


#lastnameErrorMsg,
#firstnameErrorMsg,
#emailErrorMsg,
#messageErrorMsg,
#error-message {
    font-size: 20px;
    color: red;
    font-family: $fontText;
    font-weight: 400;
    text-align: center;
}

#succes-message {
    font-size: 20px;
    color: green;
    font-family: $fontText;
    font-weight: 400;
    text-align: center;
}

// media queries

@media screen and (max-width: 800px) {
    .contact {
        &__header {
            height: 400px;
        }

        &__title {
            font-size: 60px;
        }


        &__container {
            flex-direction: column-reverse;
        }

    }
}

@media screen and (max-width: 600px) {
    .contact {
        &__header {
            height: 300px;
        }

        &__title {
            font-size: 40px;
        }

        &__form {
            width: 95%;
            margin-top: 0;
        }

        &__inputs {
            @include flex-column;
        }

        &__textarea {
            @include mb-20;
        }

        &__submit {
            width: 100%;
        }
    }
}