// couleurs de bases

$colorBg: #EFF9F0;
$colorBgVar: #131415;
$colorWhite: #f5f5f5;
$colorTransparentBlack: rgba(0, 3, 1, 0.293);
$colorText: #fdcb6e;
$colorTextVar: #f8b73f;

$bgNeumorphism: #131415;
$light-shadow: #3c3d3e;
$dark-shadow: #000000;



// font-family

$fontText: 'Dancing Script',
sans-serif;
$fontTextVar: 'Poppins',
sans-serif;